{% extends 'base.html' %}

{% block content %}
    <h1>Orders</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Order Number</th>
                <th>Robot</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.order_number }}</td>
                <td>{{ order.robot }}</td>
                <td>{{ order.quantity }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
