{% extends 'base.html' %}

{% block content %}
    <h1>Robots</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Serial</th>
                <th>Model</th>
                <th>Version</th>
            </tr>
        </thead>
        <tbody>
            {% for robot in robots %}
            <tr>
                <td>{{ robot.serial }}</td>
                        <td>{{ robot.model }}</td>
                <td>{{ robot.version }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}